body {
    background: black;
    color: yellow;
}

#stats {
    color: red;
    font-size: 10vmin;
    text-align: center;
}

.correction {
    color: lightgreen;
}

#container, #container > select, button {
    font-size: 10vmin;
    text-align: center;
}

a:link {
    color: yellow;
}
a:visited {
    color: lightyellow;
}
a:hover {
    color: orange;
}
